# Next.js
.next/
out/

# Dependencies
node_modules/

# Misc
.DS_Store
*.pem
.env*.local
/SceneSet_AI_Rate_Card.pdf
/commercial-assets/
/public/commercial-assets/*.mp4

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel
